body {
    margin: 0;
    /* CSS */
    --color1: hsla(344, 74%, 27%, 1);
    --color2: hsla(342, 34%, 92%, 1);
    --color3: hsla(28, 22%, 84%, 1);
    --color4: hsla(41, 7%, 100%, 1);
    --color5: hsla(270, 42%, 17%);
    --black: hsla(225, 29%, 3%);
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color4);
    background: var(--color3);
}
